/* Corpo principale */
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header con logo e nome */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #C78429;
  color: white;
}
/* Head .logo dice che questo stile verrá applicato a tutti gli elementi con classe logo all interno dell'header.
non essendoci altri elementi con class=logo in questo index.html avrei potuto lasciare direttamente .logo invece di anteporci header */
header .logo {
  height: 60px;
  margin-right: 20px;
}

/* Titolo principale */
h1 {
  margin: 0;
}

/* Main content */
main {
  padding: 20px;
}

/* Menu come immagine */
.menu-container {
  margin-top: 20px;
}

.menu-image {
  max-width: 100%; /* si adatta allo schermo del dispositivo */
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}
